.showroom_sidebar { padding-left:30px }

.showroom_sidebar h2 { font-size:18px; color:#b0b0b0; font-weight:400; line-height:50px }

.showroom_sidebar p { line-height:1.6em; padding-bottom:16px; text-align:justify }

.showroom_mapContainer { padding:0 30px 0 14px }

.showroom_map { height:450px; background:#ccc }
